<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Signed in as: <strong><%= current_user.email %></strong> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% if current_user.premium? %>
    <%= link_to "Downgrade", users_downgrade_path(current_user), method: :put, class: 'btn btn-warning btn-sm', data: {confirm: 'Are you sure you want to downgrade?'} %>
  <% end %>
  <% if current_user.standard? %>
    <%= link_to "Upgrade", new_charge_path, class: 'btn btn-success btn-sm' %>
  <% end %>
<% else %>
# #2
  <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
  <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<h1><%= link_to "Wiki", wikis_path %></h1>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
